:root {
  --primary-color: hsla(180, 100%, 50%, 1);
  --on-primary-color: var(--on-surface-color);
  --secondary-color: hsla(240, 100%, 50%, 1);
  --on-secondary-color: var(--on-surface-color);

  --surface-color: white;
  --on-surface-color: hsla(0, 0%, 11%, 1);

  --small: 0.25rem;
  --medium: 0.5rem;
  --big: 1rem;

  --body-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --title-font: var(--body-font);

  --body-text-size: 18px;
  --title-text-size: 24px;
}
