:root {
  --primary-color: hsla(201, 100%, 39%, 1);
  --on-primary-color: var(--surface-color);
  --secondary-color: hsla(38, 97%, 59%, 1);
  --on-secondary-color: var(--on-surface-color);
  --tertiary-color: hsla(149, 100%, 33%, 1);
  --on-tertiary-color: var(--on-surface-color);
  --quaternary-color: hsla(330, 6%, 13%, 1);
  --on-quaternary-color: var(--surface-color);
  --quinary-color: hsla(349, 85%, 51%, 1);
  --on-quinary-color: var(--on-surface-color);

  --surface-color: white;
  --on-surface-color: hsla(330, 6%, 13%, 1);

  --small: 0.5rem;
  --medium: 1rem;
  --big: 2rem;

  --body-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --title-font: var(--body-font);

  --body-text-size: 18px;
  --title-text-size: 24px;

  --fast-transition: 0.5s ease all;
}
